<body>
	<div class="link_list">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_online"/><img src="/images/pvp_online.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_same_browser"/><img src="/images/pvp.png"/></a><br />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_computer_same_browser"/><img src="/images/pvc.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/training"/><img src="/images/training.png"/></a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12	 col-md-12 col-lg-12 sponser-wrapper">
		<!-- <div class="sponser-text">Sponsered by</div>
		<a href="http://www.travoyago.com " target="_blank"/>
			<span class="col-xs-12 col-sm-6 col-md-6 col-lg-6 adv" style="text-align: right;"><img src="/images/travoyago.jpg" height="120" width="400"/></span>
		</a> -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 donation-wrapper">
			<span class="donate-text">Please help keep the Ian Culverhouse game online, consider making a donation to help with hosting the game or visit our sponsor!</span>
			<span class="donation-btn">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="JCAQW82K7GVRE">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/
					btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to
					pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
					width="1" height="1">
				</form>
			</span>
		</span>

	</div>

	<footer>
		<ul>
			<li>
			 Created by <a href="mailto:chilihurl@gmail.com"
			style="color: red">Marty Hurl</a> / <a href="https://
			www.twitter.com/marty_hurl" style="color: red"
			target="_blank">@marty_hurl</a> and
			<a style="color: red"
			href="mailto:talwaserman@gmail.com">Tal Waserman</a>
			With thanks to <a href="https://www.twitter.com/
			maxrushden" style="color: red" target="_blank">Max
			Rushden</a> and <a href="https://www.twitter.com/
			bglendenning" style="color: red" target="_blank">Barry
			Glendenning</a>, listen to their great show, Sundays
			11am-1pm UK on <a href="http://talksport.com/the-warmup"
			style="color: red" target="_blank">talkSPORT</a>.
			</li>
		</ul>
	</footer>
</body>
