<body>
	<div class="link_list">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_online"/><img src="/images/pvp_online.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_same_browser"/><img src="/images/pvp.png"/></a><br />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_computer_same_browser"/><img src="/images/pvc.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/training"/><img src="/images/training.png"/></a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12	 col-md-12 col-lg-12 sponser-wrapper">
		<div class="sponser-text">Sponsered by</div>
		<a href="http://www.travoyago.com " target="_blank"/>
			<span class="col-xs-12 col-sm-6 col-md-6 col-lg-6 adv" style="text-align: right;"><img src="/images/travoyago.jpg" height="120" width="400"/></span>
		</a>
		<a href="http://www.travoyago.com " target="_blank"/>
			<span class="col-xs-12 col-sm-6 col-md-6 col-lg-6 adv" style="text-align: left;"><img src="/images/travoyago.jpg" height="120" width="400"/></span>
		</a>
	</div>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----
		MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA
		1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3
		MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERM
		A8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CA
		QAwDQYJKoZIhvcNAQEBBQAEgYBdWujMDysBtnD49tATJ51KB6nBxOOjniFsBKWJc
		baZhrEYQRLcg0mw+ZReLiB7RixRwG9SLVq/wVLLXwF7MY4Vi6O8ecY9mqOEcsv/
		UaOzEIAX0uMgzD4XDkVV6YSmrzpqfZ9zHN9qn6V0yb9vkTQ949tD9GfGsWW39/8Cn
		6zBbzELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIZNsL
		QxamWbqAgagL7DLi6FMx9oaE+V6ewAIutsPTszExwAx4UsNje3tslhe5edSRVHTwswL
		TrEobWpsaoO1wYskCdcWPFcwQTPHxtywmXVpGu5pRbWjCBN6Tg7iOGp+5fI6RzUh
		vvQEqT2ZonCdkOhMZTTvInTlPa2notTcUq4hVrayIThGWbfAaeS4oG598I+kNY16ZdVS
		+Yl/
		JplkDLYpokxlOsszJetgNFg42bUQBXqqgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhki
		G9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQ
		HEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1U
		ECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQE
		WDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1
		WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3Vud
		GFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2Z
		V9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBhe
		XBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO
		2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfH
		zylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/
		c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OB
		BYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9W
		T9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBM
		CQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbm
		MuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBo
		GCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/
		MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONt
		h+8kSK//Y/4ihuE4Ymvzn5ceE3S/
		iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHF
		XwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCz
		AJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gV
		mlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMx
		ETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY
		29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBw
		GCSqGSIb3DQEJBTEPFw0xNjExMjEwMDMzMDRaMCMGCSqGSIb3DQEJBDEWBB
		SRKFp+HvqYZZAcBkQHd2eDRw1WejANBgkqhkiG9w0BAQEFAASBgAS5mrBC/
		rwldtHVVc4I422wS7tmSRtStGRC3tIHKKTFS4zCJ8aY/
		L7JhkzBQo3ds3CtDI4qzvkzZsevutzwf+HJoStf1dUgEXzLQ9Y8RPmTyz1VGT/
		YQN+RXot7UR0LvWcdpeMWCLAhKRu7RpyOU9Wj866+m6TdLPkl9JwMx5AR-----
		END PKCS7-----
		">
		<input id="donation-btn" type="image" src="https://www.paypalobjects.com/en_US/i/btn/
		btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to
		pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
		width="1" height="1">
	</form>

	<footer>
		<ul>
			<li>
				<a href="mailto:worldfootballwebsite@gmail.com">© All Rigts Reserved 2016 -  Marty</a>
			</li>
		</ul>
	</footer>
</body>
