<body>
	<div class="link_list">
		<a href="/player_vs_player_online" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" /><img src="/images/pvp_online.png"/></a>
		<a href="/player_vs_player_same_browser" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" /><img src="/images/pvp.png"/></a><br />
		<a href="/player_vs_computer_same_browser" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" /><img src="/images/pvc.png"/></a>
		<a href="/training" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" /><img src="/images/training.png"/></a>
	</div>
</body>
