<body>
	<div class="link_list">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_online"/><img src="/images/pvp_online.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_same_browser"/><img src="/images/pvp.png"/></a><br />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_computer_same_browser"/><img src="/images/pvc.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/training"/><img src="/images/training.png"/></a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12	 col-md-12 col-lg-12 sponser-wrapper">
		<div class="sponser-text">Sponsered by</div>
		<span class="col-xs-12 col-sm-6 col-md-6 col-lg-6 adv" style="text-align: right;"><img src="/images/travoyago.jpg" height="120" width="400"/></span>
		<span class="col-xs-12 col-sm-6 col-md-6 col-lg-6 adv" style="text-align: left;"><img src="/images/travoyago.jpg" height="120" width="400"/></span>
	</div>
	<button class="donate">Donate</button>

	<footer>
		<ul>
			<li>
				© All Rigts Reserved 2016 -  Marty
			</li>
		</ul>
	</footer>
</body>
