<body>
	<div class="link_list">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_online"/><img src="/images/pvp_online.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_player_same_browser"/><img src="/images/pvp.png"/></a><br />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/player_vs_computer_same_browser"/><img src="/images/pvc.png"/></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<a href="/training"/><img src="/images/training.png"/></a>
		</div>
	</div>
</body>
