<script type="text/javascript" src="/js/pvp_online_menu_script.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
  var socket = io();
</script>
<div class="online_pvp_container">
  <div class="step_1_create_or_select">
    <h1>Welcome to online pvp!</h1>
    <p>Would you like to create or join a game?</p>
    <button class="btn btn-success p-r" onclick="create_new_online_game()">Create</button>
    <button class="btn btn-primary" onclick="select_game_to_join()">Join</button>
  </div>

  <div class="step_2_create_game hidden">
    <h1>Create a new game</h1>
    <p>Please enter the game name</p>
    <div class="input-group">
      <input type="text" class="form-control">
    </div>
    <button class="btn btn-danger p-r" onclick="back_to_step_2()">back</button>
    <button class="btn btn-success" onclick="create_game_step_3()">create</button>
  </div>

  <div class="step_2_join_game hidden">
    <h1>Join an open game</h1>
    <p>Please select the game you want to join</p>
    <ul class="games_to_join_list"></ul>
    <button class="btn btn-danger p-r" onclick="back_to_step_2()">back</button>
    <button class="btn btn-primary" onclick="select_game_to_join_step_3()">Join game</button>
  </div>

</div>
