<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="/js/pvp_online_menu_script.js"></script>
<audio loop>
  <source src="/music/game_music.mp3" type="audio/mpeg">
</audio>

<div class="online_pvp_container">
  <div class="step_1_create_or_select">
    <h1>Welcome to online pvp!</h1>
    <p>Would you like to create or join a game?</p>
    <button class="btn btn-success p-r" onclick="create_new_online_game()">Create</button>
    <button class="btn btn-primary" onclick="select_game_to_join()">Join</button>
  </div>

  <div class="step_2_create_game hidden">
    <h1>Create a new game</h1>
    <h5 class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 t-l">Game name: </h5>
    <div class="input-group center-elm col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <input type="text" class="form-control new_group_name">
    </div>
    <h5 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t-l">Player name: </h5>
    <div class="input-group center-elm col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <input type="text" class="form-control player_name">
    </div>
    <button class="btn btn-danger p-r" onclick="back_to_step_2()">back</button>
    <button class="btn btn-success" onclick="create_game_step_3()">create</button>
  </div>

  <div class="step_2_join_game hidden">
    <h1>Join an open game</h1>
    <h5 class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 t-l">Game name: </h5>
    <div class="input-group center-elm col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <select class="game-list"></select>
    </div>
    <h5 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t-l">Player name: </h5>
    <div class="input-group center-elm col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <input type="text" class="form-control player_name">
    </div>
    <button class="btn btn-danger p-r" onclick="back_to_step_2()">back</button>
    <button class="btn btn-primary" onclick="select_game_to_join_step_3()">Join game</button>
  </div>
</div>

<div class="container-fluid start_game_container hidden">
  <a href="/" class="back-link"> < Back </a>
  <article class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-name-container">
      <label class="game-name-title" style="text-shadow: 2px 1px 2px rgba(0,0,0,0.7);">Game name: </label>
      <label class="game-name-value" style="text-shadow: 2px 1px 2px rgba(0,0,0,0.7); color: yellow">best game ever</label>
    </div>
  </article>
	<article class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="box">
    				<label for="qty"><strong  id="team_2_name">Team2:</strong></label>
    				<label id="c_score" >0</label>
		    </div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 t-l-c">
			<img id="screen" src="images/stadium.jpg"/>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="box">
    				<label for="qty"><strong id="team_1_name">Team1:</strong></label>
    				<label id="p_score" >0</label>
		    </div>
		</div>
	</article>
	<article class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<!-- &nbsp; -->
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">  <!--P2-->
  					<p id="cb1_c" >Centre Back1</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('cb1_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P2-->
  					<p id="lm_c" >Left Mid fielder</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('lm_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<!-- &nbsp; -->
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">

		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box"> <!--P1-->
  					<p id="rm_p" >Centre Back1</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('rm_p');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
                <div class="box"> <!--P1-->
				<p id="rb_p" >Right Back</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('rb_p');" value="Select">
		    </div>
            </div>

	</article>



        <article class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<!-- &nbsp; -->
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box"> <!--P2-->
  					<p id="lb_c" >Left Back</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('lb_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P2-->
  					<p id="cm1_c" >central Mid fielder1</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('cm1_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P2-->
  					<p id="fw1_c" >Centre Forward1</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('fw1_c');" value="Select">
		    </div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P1-->
  					<p id="fw2_p" >Centre Forward2</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('fw2_p');" value="Select">
		    </div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P1-->
  					<p id="cm1_p" >central Mid fielder1</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('cm1_p')" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P1-->
				<p id="lb_p" >Left Back</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('lb_p');" value="Select">
		    </div>
		</div>
	</article>


        <article class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box"><!--P2-->
  					<p id="gk_c" >Goal keeper</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('gk_c');" value="Select">
		    </div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">  <!--P2-->
  					<p id="cb2_c" >Centre Back2</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('cb2_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P2-->
  					<p id="cm2_c" >central Mid fielder2</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('cm2_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P2-->
  					<p id="fw2_c" >Centre Forward1</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('fw2_c');" value="Select">
		    </div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P1-->
  					<p id="fw1_p" >Centre Forward2</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('fw1_p');" value="Select">
		    </div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P1-->
  					<p id="cm2_p" >central Mid fielder1</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('cm2_p')" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">  <!--P2-->
  					<p id="cb2_p" >Centre Back1</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('cb2_p');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P1-->
  					<p id="gk_p" >Goal keeper</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('gk_p');" value="Select">
		    </div>
		</div>
	</article>



        <article class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<!-- &nbsp; -->
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">  <!--P2-->
  					<p id="rb_c" >Right Back</p>
  					<input class="player_2_input_btn" type="button" onclick="select_player2('rb_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P2-->
  					<p id="rm_c" >Right Mid fielder</p>
    				<input class="player_2_input_btn" type="button" onclick="select_player2('rm_c');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<!-- &nbsp; -->
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<!-- &nbsp; -->
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box">    <!--P1-->
  					<p id="lm_p" >Left Mid fielder</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('lm_p');" value="Select">
		    </div>
		</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width: 12.499999995%">
			<div class="box"> <!--P1-->
  					<p id="cb1_p" >Centre Back1</p>
    				<input class="player_1_input_btn" type="button" onclick="select_player('cb1_p');" value="Select">
		    </div>
		</div>
	</article>
</div>

<div class="waiting-wrapper-overlay hidden">
  <div class="waiting-for-other-player">
    <strong>Waiting for other player to connect.</strong>
  </div>
</div>
